<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>androidstudio.css">

    <!-- 设置https -->
    <!-- <meta http-equiv ="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <script type="text/javascript" src="<%= BASE_URL %>highlight.pack.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>2.5.17.vue.min.js"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=mbCZuPX7ihteZkmScSevQG8Igy0LWtEZ"></script>
    <!-- <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-router@3.0.1/dist/vue-router.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuex@3.0.1/dist/vuex.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <title>后台</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but base-vue-instance doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="user"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
