$mainColor:#ef7674;
$subColor:#f1908e;
$secondaryColor:#f3a8a8;
$normalColor:#fff;
$success:#67C23A;
$warning:#E6A23C;
$lineHeight:40px;

$placeColor:#999;
$placeSize:14px;

.disabled {
  cursor:not-allowed !important;
}

// css禁止选中文本
@mixin userSelectNone {
  -moz-user-select:none;/*火狐*/
  -webkit-user-select:none;/*webkit浏览器*/
  -ms-user-select:none;/*IE10*/
  -khtml-user-select:none;/*早期浏览器*/
  user-select:none;
}
  
/* 超出省略号 */
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* placeHolder 颜色 */
input::-webkit-input-placeholder { /* WebKit browsers */
  color: $placeColor;
  font-size:$placeSize
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $placeColor;
  font-size:$placeSize
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $placeColor;
  font-size:$placeSize
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $placeColor;
  font-size:$placeSize
}

/* 按钮 */
@mixin btn($borderColor:#dcdfe6,$color:#666,$bgColor:$normalColor,$hoverBorder:$mainColor,$hoverColor:$mainColor,$hoverBg:#fff) {
  padding: 0 25px;
  border: 1px solid $borderColor;
  border-radius: 4px;
  line-height: $lineHeight;
  font-size: 16px;
  color: $color;
  background: $bgColor;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    border: 1px solid $hoverBorder;
    color: $hoverColor;
    background: $hoverBg;
  }
}

